html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background: #FFFFFF;
}

body{
    background: #FFFFFF;
    margin: auto;
    width: 1200px;
    padding: 2em;
}

.wrapper{
    display: grid;
    grid-gap: 0.1em;
}

/*Make all images fill their space*/
img{
    max-width: 100%;
}


/*Navbar*/
nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
}

nav a, nav p {
    background: #AAAAAA;
    display: block;
    text-decoration: none;
    padding: 0.8em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    min-height: 60%;
    color: #000000;
}

nav p{
    margin: 0;
}

nav a:hover {
    background: #707070;
    color: #FFFFFF;
}

/*Main section*/
.main{
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 
        'mainHeader mainHeader'
        'article-a article-b'
        'mainFooter mainFooter';
    margin: 1em 0em 1em 0em;
}

.main h3{
    font-size: 2.4em;
    margin-bottom: 0;
}

/*MainSection*/
.main header{
    grid-area: mainHeader;
    text-align: center;
}

.main footer{
    grid-area: mainFooter;
    text-align: center;
}

.article{
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 1em;
}

.article-a{
    grid-area: article-a;
}

.article-b{
    grid-area: article-b;
}

.article img, .info img{
    padding: 0;
    width: 50%;
}

.secondary{
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 
        'secondaryHeader secondaryHeader'
        'info-a info-b'
        'info-c info-d'
        'secondaryFooter secondaryFooter';
    margin: 1em 0em 1em 0em;
}

.secondary h3{
    font-size: 2.4em;
    margin-bottom: 0;
}

.secondary header{
    grid-area: secondaryHeader;
    text-align: center;
}

.secondary footer{
    grid-area: secondaryFooter;
    text-align: center;
}

    /*Grid Areas*/
.info-a{
    grid-area: info-a;
}
.info-b{
    grid-area: info-b;
}
.info-c{
    grid-area: info-c;
}
.info-d{
    grid-area: info-d;
}

.sport{
    display: grid;
    margin: 1em 0em 1em 0em;
    grid-template-areas: 
        'sportHeader'
        'list-a'
        'list-b'
        'list-c'
        'list-d'
        'list-e'
        'list-f'
        'list-g'
        'list-h'
        'list-i'
        'list-j'
        'sportFooter';
}

.sport header{
    grid-area: sportHeader;
    text-align: center;
    font-size: 2.4em;
    margin: 0;
}

.sport footer{
    grid-area: sportFooter;
    text-align: center;
}

.list {
    padding: 2% 2% 2% 2%;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.list img{
    width: 10%;
}

.list-img-left{
    float: left;
    padding-right: 2%;
}

.list-img-right{
    float: right;
    padding-left: 2%;
}

/*List items*/
.list-a{
    grid-area: list-a;
}
.list-b{
    grid-area: list-b;
    background: #F5F5F5;
}
.list-c{
    grid-area: list-c;
}
.list-d{
    grid-area: list-d;
    background: #F5F5F5;
}
.list-e{
    grid-area: list-e;
}
.list-f{
    grid-area: list-f;
    background: #F5F5F5;
}
.list-g{
    grid-area: list-g;
}
.list-h{
    grid-area: list-h;
    background: #F5F5F5;
}
.list-i{
    grid-area: list-i;
}
.list-j{
    grid-area: list-j;
    background: #F5F5F5;
}

/*Header*/
#pageheader h1{
    font-size: 4em;
    margin-top: 2%;
    margin-bottom: 0;
    text-align: center;
}

#pageheader h2{
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}

/*Background video*/
#videoCopyright{
    position: Fixed;
    right: 1%;
    bottom: 1%;
    margin: 0;
    color: #AAAAAA;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}