@font-face {
    font-family: 'Berlin Sans FB';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB'), url('BRLNSR.woff') format('woff');
}
/*Widely used*/
html{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background: #FFFFFF;
    font-size: 15pt;
}

body{
    background: #FFFFFF;
    margin: 0 auto;
    height: 100%;
    width: 1200px;
}

a{
    color: #2699FB;
}

section{
    padding: 1.5em
}


/*Navbar*/
nav{
    background-color: #AAAAAA;
}

nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

nav li{
    float: right;
}

nav a{
    background: #AAAAAA;
    display: block;
    text-align: center;
    padding: 0.8em;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    background: #707070;
    color: #FFFFFF;
}

#homeBtn{
    float: left;
    font-weight: bold;
}


/*Article layout*/
.article{
    box-shadow: 0 0.1em 0.5em #444444;
    padding: 1em;
    
    float: left;
    width: 48.2%;
    box-sizing: border-box;
}

.article-left{
    margin-right: 2em;
}

.article-bottom{
    margin-top: 2em;
}

.article img, .info img{
    padding: 0;
    width: 50%;
}

.article img{
    display: block;
    margin: 0 auto;
}

.article h4, .gridArticle h4{
    text-align: center;
    margin: 0.8em 0 0.2em 0;
    font-size: 15pt;
}

.article p, .gridArticle p{
    margin: 0;
}

.gridArticle{
    box-shadow: 0 0.1em 0.5em #444444;
    padding: 1em;
    box-sizing: border-box;
}

.gridArticle img{
    float: left;
    margin-right: 2%;
    width: 50%;
    margin-bottom: 2%;
}


/*Header*/
#pageheader{
    font-family: 'Berlin Sans FB', "Lucida Grande", sans-serif;
    font-size: 25pt;
    margin: 0;
    text-align: center;
} 

#pageheader h1, #pageheader h2{
    margin: 0;
}

#pageheader h1{
    margin-top: 1em;
}


#pageheader img{
    width: 70%;
}


/*Main section*/
#maincontent h3{
    font-size: 30pt;
    margin-bottom: 0.4em;
}

#maincontent header{
    text-align: center;
}

#maincontent footer{
    text-align: center;
    clear: both;
    padding-top: 0.2em;
}


/*Secondary section*/
#secondarycontent h3{
    font-size: 30pt;
    margin-bottom: 0.4em;
}

#secondarycontent header{
    text-align: center;
}

#secondarycontent footer{
    text-align: center;
    clear: both;
    padding-top: 0.2em;
}


/*Referral section*/
#referralcontent{
    /*The -ms- tags are used so the grid can run on IE*/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#referralcontent h3{
    font-size: 30pt;
    margin-bottom: 0.4em;
}

#referralcontent header{
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-row: 1;    
    -ms-grid-column-span: 3;
    grid-column: 1/4;
}

#referralcontent article{
    -ms-grid-column: 1;
    -ms-grid-row: 2;    
    -ms-grid-column-span: 2;
    grid-column: 1/3;
}

#referralcontent aside{
    -ms-grid-column: 3;   
    -ms-grid-row: 2;    
    -ms-grid-column-span: 1;   
    grid-column: 3/4;
}

h5{
    font-size: 15pt;
    margin: 0;
}

p + h5{
    margin-top: 1em;
}

#referralcontent footer{
    text-align: center;
    padding-top: 0.2em;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
}


/*Sport section*/
#sportcontent h3{
    margin-bottom: 0.3em;
}

#sportcontent header{
    text-align: center;
    font-size: 30pt;
}

#sportcontent footer{
    text-align: center;
}

.list:nth-child(odd){
    background: #F5F5F5;
}

.list {
    padding: 1em;
    box-shadow: 0 0.1em 0.5em #444444;
    margin-bottom: 0.5%;
}

.list img{
    width: 15%;
}

.list-img-left{
    float: left;
    padding-right: 2%;
}

.list-img-right{
    float: right;
    padding-left: 2%;
}


/*Contact section*/
.contact h3{
    font-size: 30pt;
    margin-bottom: 0;
}

.contact header{
    text-align: center;
}

input[type=text], input[type=email],textarea {
    width: 100%;
    padding: .5em; 
    border: 0.0625em solid #AAAAAA;
    border-radius: 0.4em;
    box-sizing: border-box;
    margin: 0 0 1.5em 0;
    font-size: 15pt;
}

textarea{
    margin: 0;
    resize: vertical;
    height: 8em;
}

textarea ~ button {
    background: #AAAAAA;
    color: #000000;
    padding: 0.8em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0.1em 0.5em #444444;
    float: right;
    font-size: 15pt;
}

textarea ~ button:hover {
    background: #707070;
    color: #FFFFFF;
}

legend{
    padding: 0.3em;
    border: 0.1em #000000 solid;
}


/*Cookie Statement*/
#cookieContainer{
    position: fixed;
    right: 30%;
    left: 30%;
    bottom: 1%;
    text-align: center;
    background: #F5F5F5;
    z-index: 2;
    padding: 0;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.5em #444444;
}

/*footer*/
#pagefooter p{
    margin: 0;
    padding-bottom: 0.4%;
    padding-left: 1em;
}

/*Background video*/
#videoCopyright{
    position: Fixed;
    right: 1%;
    bottom: 1%;
    margin: 0;
    color: #AAAAAA;
}

#backgroundVideo {
    margin: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/*Tablet*/
@media screen and (max-width: 1179px) and (min-width: 480px){
    #bazaar{
        content: url("../img/bazaar300x300.png");
    }
    
    #tata{
        content: url("../img/tata300x300.png");
    }
    
    #heemskerk{
        content: url("../img/heemskerk300x300.png");
    }
    
    #strand{
        content: url("../img/strand300x300.png");
    }
    
    #bjjLogo{
        content: url("../img/logoBJJ300x300.png");
    }
    
    #atletiek{
        content: url("../img/atletiek150x150.png");
    }
    
    #voetbal{
        content: url("../img/demvoetbal150x150.png");
    }
    
    #hockey{
        content: url("../img/hockey150x150.png");
    }
    
    #schaatsen{
        content: url("../img/schaatsen150x150.png");
    }
    
    #zwemmen{
        content: url("../img/zwemmen150x150.png");
    }
    
    #bjj{
        content: url("../img/bjj150x150.png");
    }
    
    #rapidity{
        content: url("../img/tafeltennis150x150.png");
    }
    
    #volleybal{
        content: url("../img/volleybal150x150.png");
    }
    
    #turnen{
        content: url("../img/turnen150x150.png");
    }
    
    #turnenSSS{
        content: url("../img/turnenSSS150x150.png");
    }
}
    
/*Mobile*/
@media screen and (max-width: 479px){
    #bazaar{
        content: url("../img/bazaar200x200.png");
    }
    
    #tata{
        content: url("../img/tata200x200.png");
    }
    
    #heemskerk{
        content: url("../img/heemskerk200x200.png");
    }
    
    #strand{
        content: url("../img/strand200x200.png");
    }
    
    #bjjLogo{
        content: url("../img/logoBJJ200x200.png");
    }
    
    #atletiek{
        content: url("../img/atletiek100x100.png");
    }
    
    #voetbal{
        content: url("../img/demvoetbal100x100.png");
    }
    
    #hockey{
        content: url("../img/hockey100x100.png");
    }
    
    #schaatsen{
        content: url("../img/schaatsen100x100.png");
    }
    
    #zwemmen{
        content: url("../img/zwemmen100x100.png");
    }
    
    #bjj{
        content: url("../img/bjj100x100.png");
    }
    
    #rapidity{
        content: url("../img/tafeltennis100x100.png");
    }
    
    #volleybal{
        content: url("../img/volleybal100x100.png");
    }
    
    #turnen{
        content: url("../img/turnen100x100.png");
    }
    
    #turnenSSS{
        content: url("../img/turnenSSS100x100.png");
    }
}